.btn-info {
    position: relative;
    right: 40px;
    bottom: 30px;
    border-radius: 4px;
}

.btn-success {
    position: relative;
    left: 33px;
    border-radius: 4px;
}


.col-sm-4{
    position: relative;
    right: 35px;
}

#VolverForm {
    position: relative;
    top: 60px;
}

#VerTabla{
    position: relative;
    bottom: 61px;
    left: 120px;
    border-radius: 4px;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;

}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    line-height: 2em;

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    height: 100%;
    display: inline-block;
}

/* Individual item */
.bm-item{

display: none;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

#containertable {
    position: relative;
    padding-top: 6%;
}

#containerForm {
    position: relative;
    right: 30px;
    padding-top:  150px;
    line-height: 30px;
}

#Button {
    position: relative;
    right: 3px;
    bottom: 3px;
    border-radius: 2px;

}
#img{
    position: relative;
    height: 80px;
    top: 60px;
    right: 40px;
}
#title{
    position: relative;
    top: 60px;
    right: 40px;
}
